%html
  %head
    %title Reverse whois lookup

  %body
    Reverse whois lookup

    %form{ action: "/", method: "get" }
      %input{ type: "text", name: "q" }
      %input{ type: "submit", value: "Search"}
