%html
  %head
    %title Reverse whois lookup

  %body
    Reverse whois lookup

    %form{ action: "/whois", method: "post" }
      %textarea{ name: "domains" }
      %input{ type: "submit", value: "Search"}

-# :)
